@charset "UTF-08";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --text-color: white;
    --bg-url: url('../assets/bg-background/bg-mobile.jpg');
    --bg-url-desk: url('../assets/bg-background/bg-desktop.jpg') ;
    --border: rgba(255, 255, 255, 0.5);
    --bg-bttn: rgba(255, 255, 255, 0.1);
    --bg-bttn-hover: rgba(255, 255, 255, 0.05);
    --social-hover: rgba(255, 255, 255, 0.2);
    --bg-switch: url('../assets/bg-background/moon.star.svg');
}

.light {
    --text-color: black;
    --bg-url: url('../assets/bg-background/bgw-mobile.jpg');
    --bg-url-desk: url('../assets/bg-background/bgw-desktop.jpg') ;
    --border: rgba(0, 0, 0, 0.5);
    --bg-bttn: rgba(0, 0, 0, 0.05);
    --bg-bttn-hover: rgba(0, 0, 0, 0.02);
    --social-hover: rgba(0, 0, 0, 0.1);
    --bg-switch: url('../assets/bg-background/sun.svg');
}

html {
    height: 100%;
}

body {
    background: var(--bg-url) no-repeat center center;
    background-size: cover;   
    margin-top: 5.6rem;

    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
}

#container {
    padding: 0rem 2.4rem;
}

.img-perfil {
    text-align: center;
    padding: 2.4rem 0;
}

.img-perfil img {
    width: 11.2rem;
    height: 11.2rem;
}

.img-perfil p {
    margin-top: 0.8rem;
}

.switch {
    position: relative;
    width: 6.4rem;
    margin: 0.4rem auto;
}

.switch button {
    width: 3.2rem;
    height: 3.2rem;
    border: none;
    border-radius: 50%;
    background: var(--bg-switch) no-repeat center;
    background-color: white;

    position: absolute;
    transform: translateY(-11%);
    left: 0;

    cursor: pointer;
}

.switch span {
    display: block;
    width: 6.4rem;
    height: 2.4rem;
    background-color: var(--bg-bttn);
    border: 1px solid var(--border);
    border-radius: 99.99rem;
}

.light .switch button {
    right: 0;
    left: initial;
}

.links {
    display: flex;
    padding: 2.4rem 0rem;

    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    list-style-type: none;
}

.links li  a {
    display: flex;
    justify-content: center;

    width: 70vw;
    max-width: 47.8rem;
    padding: 1.6rem 2.4rem;

    border: 1px solid var(--border);
    text-decoration: none;
    color: var(--text-color);

    background-color: var(--bg-bttn);

    border-radius: 1rem;
    transition: background 0.3s;
}

.links li a:hover {
    border: 1.5px solid var(--border);
    background: var(--bg-bttn-hover);

    transform: scale(1.1);

}

.icons {
    padding: 2.4rem 0;
    display: flex;
    justify-content: center;

    font-size: 2.4rem;
}

.icons a {
    color: var(--text-color);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.6rem;

    border-radius: 50%;
    transition: background .3s ease-in-out;
}

.icons a:hover {
    background: var(--social-hover);
}

@media screen and (min-width: 800px) {
    body {
        background: var(--bg-url-desk) no-repeat center center;
        background-size: cover; 
    }
}